body{
  background-color: red;
}
.parent-div {
  width: 13px;
  height: 160px;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.FRAME-18-11 {
  transform: rotate(0deg);
  position: relative;
  width: 13px;
  height: 160px;
  left: 0px;
  top: 0px;
  opacity: 1;
  overflow: hidden;
}
.RECTANGLE-18-12 {
  position: absolute;
  left: 0px;
  top: 12px;
  transform: rotate(0deg);
  transform-origin: center !important;

  border-top: 0px solid rgba(243, 243, 243, 1);

  border-bottom: 2px solid rgba(243, 243, 243, 1);

  border-left: 2px solid rgba(243, 243, 243, 1);

  border-right: 0px solid rgba(243, 243, 243, 1);

  border-bottom-left-radius: 8px;

  width: 13px;
  height: 8px;
  opacity: 1;
}
.RECTANGLE-18-13 {
  position: absolute;
  left: 0px;
  top: 44px;
  transform: rotate(0deg);
  transform-origin: center !important;

  border-top: 0px solid rgba(243, 243, 243, 1);

  border-bottom: 2px solid rgba(243, 243, 243, 1);

  border-left: 2px solid rgba(243, 243, 243, 1);

  border-right: 0px solid rgba(243, 243, 243, 1);

  border-bottom-left-radius: 8px;

  width: 13px;
  height: 8px;
  opacity: 1;
}
.RECTANGLE-18-14 {
  position: absolute;
  left: 0px;
  top: 76px;
  transform: rotate(0deg);
  transform-origin: center !important;

  border-top: 0px solid rgba(243, 243, 243, 1);

  border-bottom: 2px solid rgba(243, 243, 243, 1);

  border-left: 2px solid rgba(243, 243, 243, 1);

  border-right: 0px solid rgba(243, 243, 243, 1);

  border-bottom-left-radius: 8px;

  width: 13px;
  height: 8px;
  opacity: 1;
}
.RECTANGLE-18-15 {
  position: absolute;
  left: 0px;
  top: 113px;
  transform: rotate(0deg);
  transform-origin: center !important;

  border-top: 0px solid rgba(243, 243, 243, 1);

  border-bottom: 2px solid rgba(243, 243, 243, 1);

  border-left: 2px solid rgba(243, 243, 243, 1);

  border-right: 0px solid rgba(243, 243, 243, 1);

  border-bottom-left-radius: 8px;

  width: 13px;
  height: 8px;
  opacity: 1;
}
.RECTANGLE-18-19 {
  position: absolute;
  left: 0px;
  top: 150px;
  transform: rotate(0deg);
  transform-origin: center !important;

  border-top: 0px solid rgba(243, 243, 243, 1);

  border-bottom: 2px solid rgba(243, 243, 243, 1);

  border-left: 2px solid rgba(243, 243, 243, 1);

  border-right: 0px solid rgba(243, 243, 243, 1);

  border-bottom-left-radius: 8px;

  width: 13px;
  height: 8px;
  opacity: 1;
}
.RECTANGLE-18-16 {
  position: absolute;
  left: 0px;
  top: -0.5041322112083435px;
  transform: rotate(0deg);
  transform-origin: center !important;
  background: rgba(243, 243, 243, 1);

  width: 2px;
  height: 152.24794006347656px;
  opacity: 1;
}
