@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
.btn{
    position: absolute;
    top: 15px;
    left: 15px;
    height: 15px;
    width: 15px;
    text-align: center;
    color: #1b1b1b;
    background-color: #fff;
    cursor: pointer;
    transition: left 0.4s ease;
}
.btn.click{
    left: 309px;
}
.btn span{
    color: rgb(110, 108, 108);
    font-size: 28px;
    line-height: 45px;
}
.btn.click span:before{
    content: '\f00d'
}
/* --------------------------------------------- */
.not-logged-in{
    display: flex;
    padding: 10px 12px;
    justify-content: center;
    align-items: center;
    gap: 12px;
}
.sign-in{
    width: 20px;
    height: 20px;
    flex-shrink: 0;
}
.not-logged-in span{
    width: 230px;
    height: 20px;
    color: var(--green-green-1, #009981);
    font-feature-settings: 'clig' off, 'liga' off;

    font-family: Inter, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
div.not-logged-in:hover{
    background: var(--green-green-4, #DBF9EB);
    border-radius: 5px;
    cursor: pointer;
}
.sidebar{
    position: fixed;
    width: 100%;
    max-width: 310px;
    height: 100%;
    left: -330px;
    background: #fff;
    overflow: auto ;
    transition: left 0.4s ease;
    padding: 20px 12px;
}
.sidebar::-webkit-scrollbar{
    height: 10px;
}
.sidebar.show{
    left: 0px;
}
.sidebar .not-logged-in{
    color:#757575;
    font-size: 14px;
    font-weight: 600;
    line-height: 65px;
    text-align: center;
    background: #fff;
    letter-spacing: 1px;
}
.horizontal-divider{
    height: 2px;
    flex-shrink: 0;
    align-self: stretch;
    border-radius: 2px;
    background: var(--black-black-6, #F3F3F3);
    margin-top: 12px; 
    margin-bottom: 12px;
}
span.text{
    width: 80%;
    color: var(--black-black-3, #757575);
    font-feature-settings: 'clig' off, 'liga' off;

    /* H7/Semibold (13) */
    font-family: Inter, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 10px 12px;
}
nav ul{
    background: #fff;
    height: 100%;
    width: 100%;
    list-style: none;
}
nav ul li{
    line-height: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    /* width: 286px;
    margin: 10px 12px; */
}
nav ul li a{
    position: relative;
    color: #757575;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 12px; 
    font-weight: 500;
    display: block;
    width: 100%;
    border-left:  13px solid transparent;
    border-left-width: 5px;
}
nav ul li.active a{
    color: #757575;
    background: #fff;
}
nav ul li a:hover{
    color: var(--green-green-1, #009981);
    border-radius: 5px;
    background: var(--green-green-4, #DBF9EB);  
}
nav ul li a:hover svg path{
    stroke: #009981;
}
nav ul li a span:hover{
    color: var(--green-green-1, #009981);
}
nav ul ul{
 position: static;
 display: none;
}
nav ul .feat-show.show{
    display: block;
}
nav ul .lap-show.show1{
    display: block;
}
nav ul ul li{
    display: flex;
    flex-direction: column;
    line-height: 16px;
    border-top: none;
    padding-top: 8px;
    padding-left: 30px;
    
}
nav ul ul li a{
    font-size: 13px;
    color: #e6e6e6;
    padding: 8px 12px;
}
/* nav ul li.active ul li a{
    color:#e6e6e6;
    background: #e6e6e6;
    border-left-color: transparent;
}
nav ul ul li a:hover{
    color: cyan;
    background-color: rgb(110, 108, 108)!important;
} */
nav ul li a span{
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 22px;
    transition: transform 0.4s;
  }
nav ul li a span.rotate{
   transform: translateY(-50%) rotate(-180deg);
}
span.content{
    color: var(--black-black-4, #C9C9C9);
    font-feature-settings: 'clig' off, 'liga' off;

    /* H8/Regular (11) */
    font-family: Inter, sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.name-mobile{
    width: 100%;
    display: flex;
}
.name-lap{
    width: 100%;
    display: flex;
}

/* -------------------------------------------------------------- */

/* .parent-div {
    width: 13px;
    height: 160px;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    margin-right: 12px;
  }
  .FRAME-18-11 {
    transform: rotate(0deg);
    position: relative;
    width: 13px;
    height: 160px;
    left: 0px;
    top: 0px;
    opacity: 1;
    overflow: hidden;
  }
  #RECTANGLE-18-12 {
    position: absolute;
    left: 0px;
    top: 12px;
    transform: rotate(0deg);
    transform-origin: center !important;
  
    border-top: 0px solid rgba(243, 243, 243, 1);
  
    border-bottom: 2px solid rgba(243, 243, 243, 1);
  
    border-left: 2px solid rgba(243, 243, 243, 1);
  
    border-right: 0px solid rgba(243, 243, 243, 1);
  
    border-bottom-left-radius: 8px;
  
    width: 13px;
    height: 8px;
    opacity: 1;
  }
  #RECTANGLE-18-13 {
    position: absolute;
    left: 0px;
    top: 44px;
    transform: rotate(0deg);
    transform-origin: center !important;
  
    border-top: 0px solid rgba(243, 243, 243, 1);
  
    border-bottom: 2px solid rgba(243, 243, 243, 1);
  
    border-left: 2px solid rgba(243, 243, 243, 1);
  
    border-right: 0px solid rgba(243, 243, 243, 1);
  
    border-bottom-left-radius: 8px;
  
    width: 13px;
    height: 8px;
    opacity: 1;
  }
  #RECTANGLE-18-14 {
    position: absolute;
    left: 0px;
    top: 76px;
    transform: rotate(0deg);
    transform-origin: center !important;
  
    border-top: 0px solid rgba(243, 243, 243, 1);
  
    border-bottom: 2px solid rgba(243, 243, 243, 1);
  
    border-left: 2px solid rgba(243, 243, 243, 1);
  
    border-right: 0px solid rgba(243, 243, 243, 1);
  
    border-bottom-left-radius: 8px;
  
    width: 13px;
    height: 8px;
    opacity: 1;
  }
  #RECTANGLE-18-15 {
    position: absolute;
    left: 0px;
    top: 106px;
    transform: rotate(0deg);
    transform-origin: center !important;
  
    border-top: 0px solid rgba(243, 243, 243, 1);
  
    border-bottom: 2px solid rgba(243, 243, 243, 1);
  
    border-left: 2px solid rgba(243, 243, 243, 1);
  
    border-right: 0px solid rgba(243, 243, 243, 1);
  
    border-bottom-left-radius: 8px;
  
    width: 13px;
    height: 8px;
    opacity: 1;
  }
  #RECTANGLE-18-19 {
    position: absolute;
    left: 0px;
    top: 138px;
    transform: rotate(0deg);
    transform-origin: center !important;
  
    border-top: 0px solid rgba(243, 243, 243, 1);
  
    border-bottom: 2px solid rgba(243, 243, 243, 1);
  
    border-left: 2px solid rgba(243, 243, 243, 1);
  
    border-right: 0px solid rgba(243, 243, 243, 1);
  
    border-bottom-left-radius: 8px;
  
    width: 13px;
    height: 8px;
    opacity: 1;
  }
  .RECTANGLE-18-16 {
    position: absolute;
    left: 0px;
    top: -0.5041322112083435px;
    transform: rotate(0deg);
    transform-origin: center !important;
    background: rgba(243, 243, 243, 1);
  
    width: 2px;
    height: 142.24794006347656px;
    opacity: 1;
  }
   */