*{
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
  /* font-family: 'Inter', sans-serif; */
}
/* ---------------------------------------------- */
.btn{
  position: absolute;
  z-index: 2;
  top: 15px;
  left: 15px;
  height: 15px;
  width: 15px;
  text-align: center;
  color: #1b1b1b;
  cursor: pointer;
  transition: left 0.4s ease;
}
.btn.click{
  left: 310px;
}
.btn span{
  color: rgb(110, 108, 108);
  font-size: 28px;
  line-height: 45px;
}
.btn.click span:before{
  content: '\f00d'
}
/* ----------------------------------------- */
.sidebar{
  position: fixed;
  width: 100%;
  /* max-width: 311px; */
  height: 100%;
  left: -330px;
  background: #fff;
  overflow: auto ;
  transition: left 0.4s ease;
}
.sidebar::-webkit-scrollbar{
  height: 10px;
}
.sidebar.show{
  left: 0px;
}
/* ------------------------------------------------- */
.log-in{
  display: flex;
  width: 100%;
  max-width: 311px;
  /* height: 100%; */
  max-height: 1168px;
  padding: 20px 12px;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  border-radius: 0px 10px 10px 0px;
  background: var(--white-white-1, #FFF);
  cursor: pointer;
  /* margin: ;
  padding: 20px 12px;
  user-select: none;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif; */
}
.avatar{
display: flex;
width: 30px;
height: 30px;
/* padding: 7.5px 11px 6.5px 10px; */
justify-content: center;
align-items: center;
border-radius: 50%;
background: var(--green-green-1, #009981);
color: var(--white-white-1, #FFF);
font-feature-settings: 'clig' off, 'liga' off;

/* H7/Semibold (13) */
font-family: Inter, sans-serif;
font-size: 13px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.user-infor{
  display: flex;
  align-items: center;
  gap: 12px;
}
div.text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 4px;
}
.welcome{
  width: 245px;
  color: var(--black-black-4, #C9C9C9);
  font-feature-settings: 'clig' off, 'liga' off;

  /* H8/Regular (11) */
  font-family: Inter, sans-serif;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.username{
  width: 245px;
  color: var(--black-black-1, #191919);
  font-feature-settings: 'clig' off, 'liga' off;

  /* H7/Semibold (13) */
  font-family: Inter, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.log-out{
  display: flex;
  width: 100%;
  padding: 10px 12px;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
}
#icon{
  display: flex;
  width: 20px;
  height: 20px;
  justify-content: center;
  align-items: center;
}
Span.text-log-out{
  width: 230px;
  height: 20px;
  color: var(--red-red-1, #FD475A);
  font-feature-settings: 'clig' off, 'liga' off;

  /* H7/Regular (13) */
  font-family: Inter,sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  /* margin-left: 12px; */
}
div.log-out:hover{
  border-radius: 5px;
  background: var(--red-red-4, #FFDADE);  
}
/* ----------------------------------------------------- */
.horizontal-divider{
  height: 2px;
  flex-shrink: 0;
  align-self: stretch;
  border-radius: 2px;
  background: var(--black-black-6, #F3F3F3);
}
/* ----------------------------------------------------------- */
span.content{
  color: var(--black-black-4, #C9C9C9);
  font-feature-settings: 'clig' off, 'liga' off;

  /* H8/Regular (11) */
  font-family: Inter, sans-serif;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
span.text{
  width: 80%;
  color: var(--black-black-3, #757575);
  font-feature-settings: 'clig' off, 'liga' off;

  /* H7/Semibold (13) */
  font-family: Inter, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 10px 12px;
  display: flex;
  justify-content: start;
  align-items: center;
}
nav ul{
  background: #fff;
  height: 100%;
  width: 100%;
  list-style: none;
}
nav ul li{
  line-height: 20px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  /* width: 286px;
  margin: 10px 12px; */
}
nav ul li a{
  position: relative;
  color: #757575;
  text-decoration: none;
  font-size: 18px;
  padding: 10px 12px; 
  font-weight: 500;
  display: block;
  width: 99%;
  font-family: 'Inter', sans-serif;
  border-left:  13px solid transparent;
  margin-left: 3px;
  border-left-width: 5px;
}
nav ul li.active a{
  color: #757575;
  background: #fff;
}
nav ul li a:hover{
  color: var(--green-green-1, #009981);
  border-radius: 5px;
  background: var(--green-green-4, #DBF9EB);  
}
nav ul li a:hover svg path{
  stroke: #009981;
}
nav ul li a span:hover{
  color: var(--green-green-1, #009981);
}
nav ul ul{
position: static;
display: none;
}
nav ul .feat-show.show{
  display: block;
}
nav ul .lap-show.show1{
  display: block;
}
nav ul ul li{
  line-height: 16px;
  border-top: none;
  padding-top: 8px;
  padding-left: 55px;
  padding-right: 5px;
}
nav ul ul li a{
  font-size: 13px;
  color: #e6e6e6;
  padding-left: 12px;
}
nav ul li a span{
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  font-size: 22px;
  transition: transform 0.4s;
}
nav ul li a span.rotate{
 transform: translateY(-50%) rotate(-180deg);
}
/* ----------------------------------- */
.deviced, .survice, .support{
  width: 100%;
}
/* ------------------------------------- */




























/* @media screen and (min-width: 280px) {
}
@media screen and (max-width: 1280px) {
} */
/* .mobile{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
}
.mobile-text{
  width: 198px;
  color: var(--green-green-1, #009981);
  font-feature-settings: 'clig' off, 'liga' off;

  font-family: Inter, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.mobile-content{
  display: flex;
  padding: 10px 12px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border-radius: 5px;
  background: var(--green-green-4, #DBF9EB);
}
.mobile-type{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.Iphone, .Nokia, .Samsung, .Oppo{
  display: flex;
  width: 207px;
  padding: 8px 12px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  border-radius: 5px;
  background: var(--white-white-1, #FFF);
  color: var(--black-black-3, #757575);
  font-feature-settings: 'clig' off, 'liga' off;

  font-family: Inter, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.Iphone:hover, .Nokia:hover, .Oppo:hover, .Samsung:hover{
  color: var(--green-green-1, #009981);
  font-feature-settings: 'clig' off, 'liga' off;
  background: var(--green-green-4, #DBF9EB);
} */
